<template>
    <div id="out">
        <button @click="geoFindMe()" :class="'btn btn-success btn-sm'">
            <ion-icon name="checkmark"></ion-icon>
        </button>
    </div>
</template>

<script>
    export default {
        props: ['coord', 'id'],
        data() {
            return {
                latitude: '',
                longitude: '',
                }
        },
        methods: {
            geoFindMe() {
                let output = document.getElementById("out");

                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(this.success);
                } else {
                    this.error = "Geolocation is not supported by this browser.";
                }
            },
            success(position) {
                let latitude = position.coords.latitude;
                let longitude = position.coords.longitude;
                if((this.latitude >= (this.coord.lati - 0.05) || this.latitude <= (this.coord.lati + 0.05)) && (this.longitude >= (this.coord.longi - 0.05) || this.longitude <= (this.coord.longi + 0.05))) {
                    Vue.swal('Success', 'Well done. Keep working!').then(()=>{
                        window.location.href = '/tasks/' + this.id
                    })
                }else{
                    Vue.swal('Error', 'Something wrong! Quickly to customers')
                }
            },
            error() {
                output.innerHTML = "Unable to retrieve your location";
            }
        }
    }
</script>

<style scoped>

</style>
