<template>
    <a :href="'/orders/'+order.id">
    <div class="card">
        <div class="card-body">
            <div class="float-right" v-if="user == order.client_id">
                <a href="#" @click.prevent="edit"><i class="fa fa-edit"></i> </a>
            </div>
            <span v-if="!this.editing">{{ order_data }}</span>
            <span v-if="this.editing">
                    <textarea class="form-control" v-model="order_data"></textarea>
                    <button class="btn btn-success btn-sm" @click.prevent="saveData">Save</button>
                </span>
        </div>
    </div>
    </a>
</template>

<script>
    import axios from 'axios'
    export default {
        props:['order','user'],
        data(){
            return {
                editing:false,
                order_data: null
            }
        },
        methods:{
            edit(){
                this.editing = !this.editing
            },
            saveData(){
                axios.put('/orders/'+this.order.id, {'order':this.order_data}).then((response)=>{
                    this.order_data = response.data.order.qty
                    this.edit()
                }).catch((errors)=>{
                    console.log(errors)
                })
            }
        },
        mounted(){
            this.order_data = this.order.order.qty
        }
    }
</script>

<style scoped>

</style>
